
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#svg-wrapper {
  width: 500px;
  height: 160px;
  margin: 2em auto;
}

svg path {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

svg .axis {
  font-size: 12px;
}

svg .axis path {
  display: none;
}